.right-corner
{
    text-align: right;
    height: 50px;
    padding: 10px;
    font-size : 14px;
}

.right-corner a
{
    
    padding: 10px;
}

.logo
{
    display: block;
    text-align: center;
    margin: 160px 50px 20px 50px;
    color : blue;
}

.logo-img
{
    display: block;
    text-align: center;
    margin: 160px 50px 2px 50px;
    color : blue;
}

.logo-title
{
    position: relative;
    left: 105px;
    bottom: 25px;
}

.icon-search
{
    position: relative;
    bottom: -7px;
    left: -547px;
    width: 427px;
    color: #f2f2f2;
    display: inline;
}

.button-pannel
{
    text-align: center;
    margin: 25px;
}

.button
{
    display: inline;
    margin: 10px 40px 50px 10px;
}

.search-pannel
{
    text-align: center;
    width : 100%;
    display: block;
}

.search-input
{
    width: 500px;
    height: 40px;
    border-radius: 26px;
    border: 2px solid #f2f2f2;
    font-size : 20px;
    padding: 0px 2px 0px 45px;
    font-weight: 100;
}

.search-input:hover
{
    box-shadow: 0px 1px 6px 0px #9C9C9C;

}

.search-button
{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    font-size: 16px;
    flex: auto;
    align-items: center;
    word-break: break-word;
    color :  #9C9C9C; 
}


.search-button:hover
{
    border: 1px solid #212121;    
    color : #212121;
}

a
{
     text-decoration: none;
     color: #5F6368;
}

a:hover 
{
    text-decoration: underline;
}

body
{
    font-family: Google Sans,Roboto,arial,sans-serif;
}

.advanced-header
{
font-family: arial,sans-serif;
font-size: 13px;
color :  #777777;
}
.advanced-description
{
font-family: arial,sans-serif;
font-size: 11px;
color :  #555555;
}
.advanced-name
{
font-family: arial,sans-serif;
font-size: 16px;
color :  #3333333;
}
.advanced-article
{
font-family: arial,sans-serif;
font-size: 13px;
color :  #222222;
}
